<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>



<div id="sanity-check-section">
  <span>current sanity check array:</span>
  <input id="sanity-check">
</div>




  <script type='text/javascript'>


    ///////////////////////////////////

    var sanityCheck = function(){

      var currentSanityCheck;

      $('#sanity-check').on('change', function(e){
        currentSanityCheck = $('#sanity-check').val();
        dbAccess.storeSanityCheck();
      })
      return {
        currentSanityCheck : function(){ return currentSanityCheck}
      }
    }()

    var dbAccess = function(){

      var storeSanityCheck = function(){

        $.ajax({
          type: "POST",
          url: '/sanitychecks',
          data: {'sanityCheck':sanityCheck.currentSanityCheck()},
          success: function(){
            console.log('succ')
          }
        });

      }

      return {
        storeSanityCheck : storeSanityCheck
      }

    }()








  </script>




rob!

</body>
</html>
