<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


ROB BEFORE

  <% tutu %>

  <script type='text/javascript'>
    var rows =<%-JSON.stringify(tutu)%>
    console.log('rows',rows)
  </script>




rob!

</body>
</html>
